.cadastro-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #1ea012 1px solid;
    height: 100%;
}

h1 {
    color: #f5f5f5;
    font-size: 28px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    border-radius: 10px;
    background-color: #2e2d4e;
    max-width: 50%;
    width: 400px;
    margin-bottom: 20px;

    & button{
        border-radius: 30px;
        background-color: #8b8ae1;
        height: 40px;
        border: none;
        font-weight: bold;
        cursor: pointer;
        font-size: 14px;
    }

    & button:hover {
        background-color: #f5f5f5;
      /*   opacity: 0.8; */
    }

    & input{
        border: 1px solid #4e456c;
        border-radius: 30px;
        height: 40px;
        background-color: #363653;
        color: #fff;
        font-size: 16px;
        padding-left: 10px;
        outline: none;
    }
}

.card_user{
    display: flex;
    justify-content: space-between;
    background-color: #2e2d4e;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 400px;

    & p{
        color: #f5f5f5;
        font-weight: bold;

        & span{
            font-weight: normal;
        }
    }

    & button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

     & button:hover {
      opacity: 0.5;
    }

    & img {
        width: 40px;
        height: 40px;
    }
}