.container {
    display: flex;
    align-items: center;
}

.container.centralizado {
    justify-content: center;
}

.container.centralizado .cadastro-home {
    width: 100%;
    align-items: center;
    padding-right: 0;
}


.cadastro-home {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    /* border: #1ea012 1px solid; */
    padding-right: 1%;
    height: 100vh;
    width: 50%;
}

.container_cards {
    display: grid;
    grid-template-columns: repeat(2, 4fr);
    gap: 0px;
    align-content: start;
    justify-content: end;
    width: 50%;
    height: 60vh;
}

h1 {
    color: #f5f5f5;
    font-size: 28px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    border-radius: 10px;
    background-color: #1a5880;
    max-width: 50%;
    width: 400px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 10px 2px #00000060;

    & button {
        border-radius: 30px;
        background-color: #fff;
        height: 40px;
        border: none;
        font-weight: bold;
        cursor: pointer;
        font-size: 14px;
        box-shadow: 1px 1px 2px 1px #00000041;
    }

    & button:hover {
        background-color: #f5f5f5;
        /*   opacity: 0.8; */
    }

    & input {
        border: 1px solid #fffffff1;
        border-radius: 30px;
        height: 40px;
        background-color: #1a5880;
        color: #fff;
        font-size: 16px;
        padding-left: 10px;
        outline: none;
    }

    & input::placeholder {
        color: #f5f5f580;
    }
}

.card_user {
    display: flex;
    justify-content: space-between;
    background-color: #1a5880;
    margin: 10px;
    padding: 10px;
    height: 90px;
    border-radius: 10px;
    width: 350px;

    & p {
        color: #f5f5f5;
        font-weight: bold;

        & span {
            font-weight: normal;
        }
    }

    & button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    & button:hover {
        opacity: 0.5;
    }

    & img {
        margin-top: 6px;
        width: 30px;
        height: 30px;
    }
}