* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-weight: 400;  
  font-style: normal;
}

*:focus {
  outline: none;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #363467, rgba(30, 29, 79, 0.8) 100%);
}